body {

    background-color: rgb(124, 174, 240);
    color: rgb(0, 0, 0);
    font-family: "Sancreek", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: black;
    color: aliceblue;
    font-family:"Sancreek", serif ;
}